//==================================================================================================================================================================================================================================================================
@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import "ui.scss";
@import "forms.scss";
@import "about.scss";
@import "preloader.scss";
//==================================================================================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
//==================================================================================================================================================================================================================================================================
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}
body._lock {
    overflow: hidden;
}
//==================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1440px;
    padding: 0 10px 0 10px;
    margin: 0px auto;
}
.index-page {
    min-height: 100%;
    flex: 1 0 100%;
    position: relative;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);

    &__head {
        padding: 50px 0 180px 0;

        @media(max-width: 1280px){
            padding: 30px 0 90px 0;
        }

        @media(max-width: 425px){
            padding: 15px 0 60px 0;
        }
    }

    &__bg{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    /* &::before{
        content: "";
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 10%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: var(--Orange, #F49F1C);
        filter: blur(150.5px);

        @media(min-width: 2000px){
            left: 20%;
            width: 500px;
            height: 500px;
            filter: blur(300.5px);
        }

        @media(max-width: 1024px){
            width: 350px;
            height: 350px;
            top: 0;
            left: 10%;
            filter: blur(220.5px);
        }
    } */
    
    /* &::after{
        content: "";
        position: absolute;
        z-index: 1;
        top: 100px;
        right: 220px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: var(--Orange, #A21CF4);
        filter: blur(300.5px);

        @media(min-width: 2000px){
            right: 20%;
            width: 500px;
            height: 500px;
            filter: blur(390.5px);
        }

        @media(max-width: 1024px){
            width: 350px;
            height: 350px;
            bottom: 0;
            right: 10%;
            filter: blur(250.5px);
        }
    } */
}
.head-index {

    &__title {
        display: inline-block;
        font-size: 90px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 14px;
        transition: all 0.8s ease 0s;
        transform: translate(-50%, 0);

        @media(max-width: 1024px){
            font-size: 60px;
            margin-bottom: 10px;
        }
        span{
            color: #F49F1C;
        }

        @media(max-width: 768px){
            font-size: 46px;
            margin-bottom: 8px;
        }

        @media(max-width: 425px){
            font-size: 38px;
        }
    }
    &__title._active{
        transform: translate(0,0);
    }

    &__description {
        text-transform: uppercase;
        color: #fff;
        font-size: 25px;
        opacity: 0.8;
        transition: all 0.8s ease 0.2s;
        transform: translate(-50%, 0);

        @media(max-width: 1024px){
            font-size: 16px;
        }

        @media(max-width: 768px){
            font-size: 12px;
        }
    }
    &__description._active{
        transform: translate(0,0);
    }
}
.body-index {

    /* &__steps {
    }

    &__options {
    } */

    &__next{
        display: block;
        position: absolute;
        z-index: 999;   
        bottom: 50px;
        left: 50%;
        transform: translate(-50%,0);
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        animation: up-down 1.5s ease-in-out infinite alternate;

        @media(max-width: 425px){
            display: none;
        }
    }

    @keyframes up-down {
        0%{
            bottom: 30px;
        }
        100%{
            bottom: 50px;
        }
    }
}
.steps-body {

    &__title {
        font-size: 34px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;

        @media(max-width: 1024px){
            font-size: 30px;
        }

        @media(max-width: 768px){
            font-size: 24px;
        }
    }

    &__row {
        padding-top: 50px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        @media(max-width: 1024px){
            @media(min-height: 800px){
                flex-direction: column;
            }
            padding-top: 30px;
        }

        @media(max-width: 768px){
            padding-top: 18px;
        }
    }

    &__column {
        flex: 0 1 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);
        padding: 20px 50px;
        margin-right: 10px;
        &:first-child{
            transition: all 0.8s ease 0.2s;
            transform: translate(0,90px);
        }
        &:nth-child(2){
            transition: all 0.8s ease 0.55s;
            transform: translate(0,90px);
        }
        &:last-child{
            transition: all 0.8s ease 0.75s;
            transform: translate(0,90px);
        }
        
        @media(max-width: 1024px){
            flex: 1 1 auto;
            margin: 0px 0px 30px 0px;
            padding: 15px;
        }

        @media(max-height: 800px){
            @media(max-width: 1024px){
                flex: 1 1 33.333%;
                margin: 0 10px 0 0;
                &:last-child{margin: 0px 0px 0px 0px;}
            }
        }

        &:last-child{margin: 0px 0px 0px 0px;}
    }
    &__column._active{
        &:first-child{
            transform: translate(0,0);
        }
        &:nth-child(2){
            transform: translate(0,0);
        }
        &:last-child{
            transform: translate(0,0);
        }
    }

    &__image {
        display: block;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        width: 72px;
        height: 72px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1024px){
            margin-bottom: 8px;
        }
    }

    &__item {
        color: #fff;
        font-size: 17px;
        text-align: center;
        line-height: 150%;
    }
}
//=========================================================================================================
.about-page {
    position: relative;
    padding: 120px 0;

    &__bg{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.body-about {
    position: relative;

    &__title {
        font-size: 34px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        span{
            color: #F49F1C;
            font-weight: 700;
        }

        @media(max-width: 1024px){
            font-size: 28px;
        }
    }

    &__content{
        padding: 0;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        text-align: justify;
        align-items: center;

        @media(max-width: 1024px){
            font-size: 16px;
            text-align: center;
        }

        @media(max-width: 425px){
            font-size: 12px;
            text-align: justify;
        }
    }

    &__list {
        padding-top: 90px;

        @media(max-width: 1024px){
            padding-top: 70px;
        }

        @media(max-width: 425px){
            padding-top: 50px;
        }
        
        li{
            margin-bottom: 20px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 22px;
                height: 22px;
                top: 0;
                left: 0;
                background: url("../images/icons/Check.svg");
            }
            &:last-child{margin: 0px 0px 0px 0px;}

            span{
                font-size: 22px;
                color: #fff;
                padding-left: 30px;

                @media(max-width: 1024px){
                    font-size: 18px;
                    line-height: 150%;
                }
                @media(max-width: 425px){
                    font-size: 14px;
                }
            }
        }
    }

    &__image{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        transform: translate(0,25%);

        @media(max-width: 1024px){
            bottom: -50px;
        }
    }
}
.questions-body {

    &__row{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 70px;
    }

    &__title{
        font-size: 34px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;

        span{
            color: #F49F1C;
            font-weight: 700;
        }

        @media(max-width: 1024px){
            font-size: 28px;
        }
    }
}
.item-questions {
    width: 49%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 60px;
    border: 2px solid rgba($color: #fff, $alpha: 0.2);
    &:last-child{margin: 0px 0px 0px 0px;}
    cursor: pointer;

    &:first-child{
        transform: translate(-200px, 0);
        transition: all 0.8s ease 0s;
    }
    &:nth-child(2){
        transform: translate(200px, 0);
        transition: all 0.8s ease 0.1s;
    }
    &:nth-child(3){
        transform: translate(-200px, 0);
        transition: all 0.8s ease 0.2s;
    }
    &:nth-child(4){
        transform: translate(200px, 0);
        transition: all 0.8s ease 0.3s;
    }
    &:last-child{
        transform: translate(-200px, 0);
        transition: all 0.8s ease 0.4s;
    }

    @media(min-width: 992px){
        &:hover{
            border: 2px solid #F49F1C;
        }
    }

    &__head {
        padding: 30px 50px 30px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease 0s;
    }

    &__head._active{
        a{
            img{
                transform: rotate(180deg);
            }
        }
    }

    &:nth-child(even){
        align-self: flex-end;

        .item-questions__head{
            flex-direction: row-reverse;
        }
    }

    &__title {
        font-size: 22px;
        color: #fff;
        user-select: none;
    }

    &__icon {
        display: inline-block;
        transform: rotate(90deg);
        transition: all 0.3s ease 0s;
        user-select: none;

        img{
            transition: all 0.3s ease 0s;
        }
    }

    &__content {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: all 0.8s ease 0s;
    }
    &__text {
        padding-top: 0px;
        font-size: 0px;
        color: #fff;
    }
    &__content._active{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        padding: 0 50px 30px 30px;
        div{
            line-height: 150%;
            font-size: 16px;
            color: #fff;
        }
    }
}
.item-questions._active{
    &:first-child{
        transform: translate(0, 0);
    }
    &:nth-child(2){
        transform: translate(0, 0);
    }
    &:nth-child(3){
        transform: translate(0, 0);
    }
    &:nth-child(4){
        transform: translate(0, 0);
    }
    &:last-child{
        transform: translate(0, 0);
    }
}
.item-questions._active._no-anim{
    transition: all 0.3s ease 0s;
}
//=========================================================================================================
.crypto-page {
    position: relative;
    padding: 210px 0 120px 0;

    &__bg{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            top: -2px;
            left: 0;
            background-color: #000;
        }
    }

    &__title {
        text-align: center;
        font-size: 34px;
        color: #fff;
        font-weight: 500;
    }

    &__row {
        padding-top: 70px;
        display: flex;
        align-items: stretch;
    }

    &__column {
        &:last-child{
            padding: 10px 10px 10px 45px;
        }
    }

    &__image {
        display: block;
    }

    /* &__item {
    } */
}
.item-crypto {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            right: -90px;
            top: -30px;
            width: 29px;
            height: 46px;
            background: url("../images/icons/ephirium.svg");
        }
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        flex: 1 1 100%;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            right: 0px;
            bottom: -30px;
            width: 22px;
            height: 23px;
            background: url("../images/icons/bitcoin.svg");
        }
    }

    &__btn {
        display: inline-block;
        padding: 15px 50px;
        border-radius: 10px;
        border: 1px solid var(--Orange, #F49F1C);
        font-size: 18px;
        color: #fff;
        transition: all 0.3s ease 0s;

        @media(min-width: 992px){
            &:hover{
                transform: scale(1.05);
                background-color: rgba($color: #F49F1C, $alpha: 0.9);
            }
        }
    }
}
//=========================================================================================================
.navigation-page {
    position: fixed;
    height: 100%;
    z-index: 999;
    right: 120px;
    top: 30px;

    &__row {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__item {
        margin-bottom: 50px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 4px;
            height: 50px;
            top: 100%;
            left: 50%;
            transform: translate(-50%,0);
            background-color: rgba($color: #fff, $alpha: 0.2);
        }
        &:last-child{
            margin: 0;
            &::after{
                display: none;
            }
        }
    }

    &__link {
        display: block;
        padding: 12px;
        color: #fff;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
        border: 2px solid rgba($color: #fff, $alpha: 0.2);
        background: rgba(255, 255, 255, 0.05);
    }
    &__link._active{
        background: #F49F1C;
        outline: 3px solid rgba($color: #9a6412, $alpha: 1.0);
    }
}